body {
    font-family: sans-serif;
    color: black;
}

#checkBtn {
    display: none;
}

#listing {
    display: none;
}

#checkBtn:checked ~ #listing {
    display: block;
		position: fixed;
}

label:hover #text {
		color: steelblue;
}

label {
    display: block;
    cursor: pointer;
    margin-right: 50px;
    margin-bottom: -16px;
    background-color: #2574BE;
    width: 185px;
    height: 36px;
    padding: 8 8 2 2;
    vertical-align: middle;
    clear: both;
}

label:hover {
	background: lightblue;
	color: steelblue;
}

img {
    display: inline;
    width: 33px;
    height: 33px;
    float: left;
}

.arrow {
		margin-left: 58px;
		width: 20px;
}

li {
    color: white;
    display: block;
    width: 185px;
    height: 36px;
    margin-left: -40px;
    padding: 10 8 8 2;
    background-color: #2574BE;
}

#text {
    color: white;
    width: 20%;
    margin: 9 10 5 5;
    padding: auto;
    float: left;
    clear: inline;
    font-weight: bold;
}

li:hover #text {
		color: #2574BE;
}

li:hover {
    background: lightblue;
}

#labeltext {
    display: inline-block;
    color: white;
    font-weight: bolder;
    width: 160px;
    height: 26px;
    padding: 5 10 20 3px;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

@media screen and (min-width: 600px) {
    .site-nav {
       justify-content: center;
       align-content: center;
       flex-wrap: wrap;
    }
}

